#container {
    max-width:100%;
}

a {
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    text-decoration:none;
    padding: 10px 5px 10px 5px;
}
a:link {
    color: rgb(249, 87, 58);
}
a:visited {
    color: rgb(249, 87, 58);
}
a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px #f3fca4ec;
}
/*連結*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
/*打開大圖背景*/

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
/*大圖*/

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */
.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}
/*ˇ動畫zoom-in*/

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }
  
  .close:hover , .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/*關閉按鈕*/

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}
/*響應式佈局*/


/*header*/
#header {
  box-sizing: flex;
  flex-wrap: wrap;
  background-color:rgb(255, 161, 145);
  height: auto;
  border-radius: 10% 5% 0 0;
}
#header h2 {
    font-size: 17px;
    text-align: right;
    vertical-align: middle;
}
.header_btn , .header_right , .header_form {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}

.header_right {
    float:right;
    margin-left: 10px;
}

.header_right img {
  width: 100%;
}

#header form {
    padding-left: 20px;
}

#header form input[type=text] {
      width: 110px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('../images/searchicon.png');
      background-position: 1px 1px;
      background-repeat: no-repeat;
      padding: 2px 20px 2px 25px;
      margin-top: 10px;
      transition: width 0.4s ease-in-out;
}
#header form input[type=text]:focus {
  width:200px;
}
/*
@media screen and (max-width: 580px) {
  #header form input[type=text]:focus {
      width:110px;
    }
}
*/

/*nav*/
#nav {
    position: sticky;
    top: -1px;
  
}
#nav .menu {
  display: none;
  font-size: 36px;
  padding: 0px 0px 0px 0px;

}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(252, 207, 147);
}
#nav li a ,.dropbtn {
  display: block;
  width: auto;
  padding: 10px 5px 10px 5px;
}
.dropbtn i {
  padding: 10px 10px 10px 10px;
}
/*
@media screen and (max-width: 635px) {
  #nav li.page3 {
      display: none;
  }
}
@media screen and (max-width: 515px) {
  #nav li.page2 {
      display: none;
  }
}
*/
/*響應式布局,當螢幕寬度小於620px時,隱藏dropdown的按鈕*/

#nav li a:hover , .dropbtn:hover .dropbtn {
  background-color: rgb(241, 149, 72);
  color: white;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(243, 217, 144);
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 10px 60px 10px 10px; 
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f7921fc2;}

.dropdown:hover .dropdown-content {
  display: block;
}


#nav li a.active {
  background-color: #189128c0;
  color: white;
}
#nav li  {
  float: left;
}

/*main*/
#main {
  box-sizing: border-box;
}

/*content*/
#content {
    background-color:rgb(243, 236, 236);
    width: 100%;
    height: 800px;
    float: left;
    margin-top: 10px;    
}
#content2 {
    display: none;
}
#content h2 {
  text-align: center;
  font-size: 25px;
}
#content p {
  text-indent: 25px;
  font-size: 17px;
  padding-left: 10px;  
  
  line-height: 2.5;
}
#content div.content_photo {
  height: 30%;
  max-width: 90%;
  border: 5px solid #f8f8f8;
  border-radius: 2%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  text-align: center;
  
}
#content div.content_photo:hover {
  box-shadow: 0 0 2px 2px rgba(47, 148, 182, 0.6);
}

#content img.photo {
  width:  100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 20%;
}

#content ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}



/*footer*/
#footer {
    background-color: rgba(56, 56, 70, 0.849);
    clear:both;
    text-align:center;
    color: #e0e0e0;
    margin-top: 10px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
  /*大多數網頁使用的現代clearfix hack*/
}
